In [1]:
import pandas as pd
import numpy as np

In [2]:
def wrangle():
    
    """
    
    data: Initial Dataframe
    interim: Single Month Dataframe
    df: final dataframe (concatenated)
    """
    
   
    # Empty Final Dataframe
    df = pd.DataFrame()
    
    # Importing URL's from Text File
    urls = pd.read_csv('./data/to_download.txt', 
                   sep=" ",
                   header=None)
    
    # Loops through URLS. 
    for url in urls.sort_values(by=0)[0].values:
        # Import Data
        data = pd.read_csv(url)

        # Empty Dataframes
        interim = pd.DataFrame()


        ########### Datetime Manipulations ###########

        # Convert to Datetime
        data['tpep_pickup_datetime'] = pd.to_datetime(data['tpep_pickup_datetime'])
        data['tpep_dropoff_datetime'] = pd.to_datetime(data['tpep_dropoff_datetime'])

        # Ride Length
        data['ride_length'] = ((data['tpep_dropoff_datetime'] - data['tpep_pickup_datetime'])
                                .apply(lambda x:x.total_seconds()))
        # Pickup Day for Groupby function
        data['pickup_day'] = data['tpep_pickup_datetime'].map(lambda x:x.strftime('%d'))


        ########### Continuous Variables ###########

        cont_vars = ['passenger_count','trip_distance','fare_amount','extra',
                     'mta_tax','tip_amount','tolls_amount','total_amount','ride_length']


        for calc in ['mean','median','mode']:
            for cont_var in cont_vars:
                # Mean
                if calc == 'mean':
                    interim[cont_var+'_'+calc] = data.groupby('pickup_day')[cont_var].mean()
                # Median
                elif calc == 'median':
                    interim[cont_var+'_'+calc] = data.groupby('pickup_day')[cont_var].median()
                # Mode
                # Pandas Open Source: Please add a Mode Aggregation Function.
                # value_counts is not an adequate replacement for a vectorized function
                else:
                    modes = []
                    for i in np.sort(data['pickup_day'].unique()):
                        mode_test = data.groupby('pickup_day')[cont_var].value_counts()
                        modes.append(mode_test.loc[i].values[0])
                    interim[cont_var+'_'+calc] = modes


        ########### Discrete Variables ###########

        cat_var = ['RatecodeID','store_and_fwd_flag','payment_type','improvement_surcharge']

        for cat in cat_var:
            #print(cat)
            one_hot = pd.get_dummies(data[cat])
            one_hot_columns = one_hot.columns
            one_hot = pd.concat([data['pickup_day'],one_hot], axis=1)

            for column in one_hot_columns:
                interim[cat+'_'+str(column)] = one_hot.groupby('pickup_day')[column].sum()


        ########### Location ID Data ###########


        for loc in ['PULocationID','DOLocationID']:

            first_loc  = []
            second_loc = []
            third_loc  = []
            fourth_loc = []
            fifth_loc  = []

            for day in np.sort(data['pickup_day'].unique()):
                per_day = (data.groupby('pickup_day')[loc]
                           .value_counts()[day]
                           .iloc[0:5]
                           .index
                           .tolist())

                first_loc.append(per_day[0])
                second_loc.append(per_day[1])
                third_loc.append(per_day[2]) 
                fourth_loc.append(per_day[3])
                fifth_loc.append(per_day[4])

            interim[loc+'_'+'1'] = first_loc
            interim[loc+'_'+'2'] = second_loc
            interim[loc+'_'+'3'] = third_loc
            interim[loc+'_'+'4'] = fourth_loc
            interim[loc+'_'+'5'] = fifth_loc

                                                              
        ########### Create Date Column ###########
                                                              
        date = []

        for i in interim.index:
            date.append(url[-11:-4]+'-'+interim.index[0])
        interim['date'] = date
                                                              
        ########### Concatenate Dataframes ###########                                                     

        df = pd.concat([df,interim],axis=0,ignore_index=True, sort=False)
        
        print('##########', url[-11:-4], 'Added ##########')
    
    return df

In [3]:
%%time
df = wrangle()

########## 2017-01 Added ##########
########## 2017-02 Added ##########
########## 2017-03 Added ##########
########## 2017-04 Added ##########
########## 2017-05 Added ##########
########## 2017-06 Added ##########
########## 2017-07 Added ##########
########## 2017-08 Added ##########
########## 2017-09 Added ##########
########## 2017-10 Added ##########
########## 2017-11 Added ##########
########## 2017-12 Added ##########
########## 2018-01 Added ##########
########## 2018-02 Added ##########
########## 2018-03 Added ##########
########## 2018-04 Added ##########
########## 2018-05 Added ##########
########## 2018-06 Added ##########
########## 2018-07 Added ##########
########## 2018-08 Added ##########
########## 2018-09 Added ##########
########## 2018-10 Added ##########
########## 2018-11 Added ##########
########## 2018-12 Added ##########
CPU times: user 6h 7min 42s, sys: 21min 59s, total: 6h 29min 41s
Wall time: 6h 6min 48s

In [5]:
df.to_csv('2017-2018_grouped_tax.csv')

## Clustering

In [34]:
df = pd.read_csv('./data/yellow_tripdata_2016-10.csv')

In [14]:
test = 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2015-10.csv'[-11:-7]

In [18]:
if int(test) > 2015:
    print('yay')

In [46]:
data.shape

(10854626, 17)

In [48]:
data.append(data).shape

(21709252, 17)

In [259]:
'yellow_tripdata_2018-01.csv'[-11:-4]+'-'+data.index[0]

'2018-01-01'

In [28]:
df.tail()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,pickup_date
8759869,1,2018-01-31 23:21:35,2018-01-31 23:34:20,2,2.80,1,N,158,163,1,12.0,0.5,0.5,2.65,0.0,0.3,15.95,2018-01-31
8759870,1,2018-01-31 23:35:51,2018-01-31 23:38:57,1,0.60,1,N,163,162,1,4.5,0.5,0.5,1.15,0.0,0.3,6.95,2018-01-31
8759871,2,2018-01-31 23:28:00,2018-01-31 23:37:09,1,2.95,1,N,74,69,2,10.5,0.5,0.5,0.00,0.0,0.3,11.80,2018-01-31
8759872,2,2018-01-31 23:24:40,2018-01-31 23:25:28,1,0.00,1,N,7,193,2,0.0,0.0,0.0,0.00,0.0,0.0,0.00,2018-01-31
8759873,2,2018-01-31 23:28:16,2018-01-31 23:28:38,1,0.00,1,N,7,193,2,0.0,0.0,0.0,0.00,0.0,0.0,0.00,2018-01-31

In [6]:
df.columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount'],
      dtype='object')

In [251]:
    
for loc in ['PULocationID','DOLocationID']:
    
    first_loc  = []
    second_loc = []
    third_loc  = []
    fourth_loc = []
    fifth_loc  = []

    for day in np.sort(df['pickup_day'].unique()):
        per_day = (df.groupby('pickup_day')[loc]
                   .value_counts()[day]
                   .iloc[0:5]
                   .index
                   .tolist())

        first_loc.append(per_day[0])
        second_loc.append(per_day[1])
        third_loc.append(per_day[2]) 
        fourth_loc.append(per_day[3])
        fifth_loc.append(per_day[4])

    data[loc+'_'+'1'] = first_loc
    data[loc+'_'+'2'] = second_loc
    data[loc+'_'+'3'] = third_loc
    data[loc+'_'+'4'] = fourth_loc
    data[loc+'_'+'5'] = fifth_loc
    
data

,passenger_count_mean,trip_distance_mean,fare_amount_mean,extra_mean,mta_tax_mean,tip_amount_mean,tolls_amount_mean,total_amount_mean,passenger_count_median,trip_distance_median,...,PULocationID_1,PULocationID_2,PULocationID_3,PULocationID_4,PULocationID_5,DOLocationID_1,DOLocationID_2,DOLocationID_3,DOLocationID_4,DOLocationID_5
pickup_day,,,,,,,,,,,,,,,,,,,,,
01,1.713753,3.365019,13.186019,0.230123,0.495671,1.652965,0.373681,16.244469,1,1.80,...,186,48,230,79,161,48,170,186,230,79
02,1.631086,3.025751,12.445166,0.392684,0.497153,1.658423,0.381970,15.678489,1,1.50,...,161,186,236,230,237,161,236,237,230,162
03,1.601184,2.792630,12.236337,0.392187,0.497621,1.677209,0.313631,15.419717,1,1.50,...,161,237,162,236,186,161,236,237,162,230
04,1.629486,2.576409,11.492634,0.373150,0.496703,1.537451,0.195229,14.403393,1,1.43,...,230,161,48,162,186,161,230,162,236,237
05,1.626063,2.592781,12.066120,0.409144,0.497481,1.707829,0.264447,15.252301,1,1.42,...,236,237,161,230,162,161,236,237,230,170
06,1.671101,2.757388,12.018641,0.163535,0.497371,1.630359,0.243952,14.858063,1,1.50,...,79,230,142,236,237,236,79,142,48,230
07,1.659219,3.000356,12.299799,0.150281,0.496935,1.727601,0.337075,15.314979,1,1.58,...,79,236,230,132,142,236,48,142,237,79
08,1.575695,2.939049,13.038814,0.379614,0.497469,1.910664,0.364657,16.495807,1,1.50,...,236,161,237,162,132,236,161,237,170,162
09,1.578616,2.789331,12.653291,0.386606,0.497787,1.903532,0.313238,16.057577,1,1.56,...,237,236,161,162,186,236,161,237,162,170
10,1.567564,2.753000,12.524733,0.385460,0.497835,1.910532,0.315289,15.936522,1,1.54,...,237,161,236,162,186,236,161,237,162,170
11,1.574657,2.844609,12.816947,0.394597,0.497510,1.969740,0.338906,16.320471,1,1.60,...,237,161,236,162,170,236,161,237,162,170
12,1.596095,2.765256,12.644694,0.388843,0.497250,1.897749,0.314497,16.047387,1,1.54,...,237,236,161,162,186,236,161,237,162,230
13,1.670876,2.686443,11.755867,0.180770,0.497859,1.655580,0.229870,14.622113,1,1.56,...,79,230,186,48,237,230,79,236,48,142
14,1.656223,2.756201,11.656597,0.180134,0.497233,1.670990,0.257783,14.565029,1,1.60,...,79,230,48,186,142,230,79,48,236,186
15,1.606190,2.994877,12.226571,0.135492,0.497126,1.858052,0.397217,15.417092,1,1.57,...,237,138,186,236,230,236,237,246,161,230
16,1.575291,2.824889,12.521988,0.375996,0.497530,1.966551,0.358911,16.023857,1,1.54,...,161,237,236,162,230,161,236,237,162,170
17,1.575121,2.645371,11.910512,0.389525,0.497733,1.878852,0.294228,15.274386,1,1.50,...,161,237,162,236,230,161,236,237,162,170
18,1.575913,2.681071,12.215879,0.390571,0.497759,1.915215,0.311926,15.634340,1,1.50,...,237,161,236,162,186,161,236,237,162,170
19,1.592034,2.700853,12.262644,0.395676,0.497627,1.861563,0.300330,15.620534,1,1.50,...,237,236,161,162,170,236,161,237,170,162
20,1.662875,2.659464,11.975263,0.190495,0.497813,1.670893,0.193564,14.829789,1,1.60,...,79,237,236,48,234,236,79,237,48,170
21,1.645523,3.077059,12.377798,0.179145,0.497158,1.792588,0.319659,15.468070,1,1.71,...,79,236,48,230,237,236,79,48,237,186
22,1.571299,2.861529,12.169265,0.389246,0.497688,1.879444,0.349085,15.587187,1,1.58,...,161,237,236,162,138,236,161,237,162,170
23,1.573769,2.661271,11.983331,0.387735,0.497999,1.889145,0.297018,15.358128,1,1.50,...,161,237,236,162,230,161,236,237,162,170
24,1.564796,2.667413,12.085853,0.397381,0.497715,1.910126,0.300750,15.494260,1,1.50,...,161,237,236,162,230,161,236,237,162,170
25,1.578265,2.717989,12.435033,0.393166,0.497849,1.954230,0.313464,15.896471,1,1.50,...,237,161,236,162,170,161,236,237,170,162
26,1.599303,2.688979,12.340157,0.404370,0.497444,1.886185,0.298044,15.728686,1,1.51,...,237,236,161,162,170,236,161,237,170,162
27,1.659076,2.598363,11.715792,0.188281,0.497872,1.652405,0.171346,14.527410,1,1.61,...,79,237,236,48,142,236,79,237,142,230
28,1.644463,3.025087,12.457071,0.182425,0.497059,1.805273,0.310299,15.553901,1,1.70,...,79,230,48,236,237,236,79,48,237,142
29,1.568777,2.894703,12.375229,0.390461,0.497641,1.917685,0.371965,15.855488,1,1.58,...,161,237,236,162,230,236,161,237,162,170
30,1.571121,3.219425,11.724936,0.394504,0.497870,1.846813,0.279481,15.046547,1,1.50,...,161,237,236,162,230,236,161,237,162,170
31,1.559713,2.611694,11.918654,0.387201,0.497670,1.892660,0.286544,15.285552,1,1.50,...,161,237,162,236,230,161,236,237,162,170

In [246]:
df.groupby('pickup_day')['PULocationID'].value_counts()['01'].iloc[0:5].index.tolist()

[186, 48, 230, 79, 161]

In [226]:
pd.concat([df['pickup_day'],one_hot], axis=1)

pickup_day    0
1             0
2             0
3             0
4             0
5             0
6             0
99            0
dtype: int64

In [161]:
oh_cat = df.groupby('pickup_day')['RatecodeID'].value_counts()

In [250]:
df.columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'pickup_date', 'pickup_day', 'ride_length',
       'passenger_countmean', 'trip_distancemean', 'fare_amountmean',
       'extramean', 'mta_taxmean', 'tip_amountmean', 'tolls_amountmean',
       'total_amountmean', 'passenger_countmedian', 'trip_distancemedian',
       'fare_amountmedian', 'extramedian', 'mta_taxmedian', 'tip_amountmedian',
       'tolls_amountmedian', 'total_amountmedian'],
      dtype='object')

In [188]:
enc = OneHotEncoder()

x = enc.fit_transform(df[cat_var])

In [191]:
(x.toarray()).shape

(8759874, 17)

In [208]:
pd.get_dummies(df['store_and_fwd_flag'])

Index(['N', 'Y'], dtype='object')

In [159]:
df['RatecodeID'].unique()

for var in cat_var:
    for val in df[var].unique()

array([ 1,  2,  5,  4,  3,  6, 99])

In [151]:
df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])
df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'])
df['ride_length'] =(df['tpep_dropoff_datetime'] - df['tpep_pickup_datetime']).apply(lambda x:x.total_seconds())
df['pickup_day'] = df['tpep_pickup_datetime'].map(lambda x:x.strftime('%d'))

In [135]:
mode_index

Index(['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24',
       '25', '26', '27', '28', '29', '30', '31'],
      dtype='object', name='pickup_day')

In [102]:
data = pd.DataFrame()